name: "Home Optimizer"
version: "0.5"
slug: "home-optimizer"
description: "A scikit-learn based home optimizer addon for Home Assistant"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
homeassistant_api: true
options:
  log_level: info
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
ports:
  8000/tcp: 8000
map:
  - addon_config:rw
