name: "Home Optimizer"
version: "0.5"
slug: "home-optimizer"
description: "A scikit-learn based home optimizer addon for Home Assistant"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
homeassistant_api: true
ingress: true
ingress_port: 8000
ingress_stream: true
panel_title: Optimizer
panel_icon: mdi:home-lightning-bolt-outline
options:
  solar:
    model_ratio: 0.7
  log_level: info
schema:
  solar:
    model_ratio: float(0.0, 1.0)
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
ports:
  8000/tcp: 8000
map:
  - addon_config:rw
