name: "Adaptive Thermostat"
version: "0.0"
slug: "adaptive_thermostat"
description: "A scikit-learn based adaptive thermostat HA addon"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
services:
  - mqtt:need
# options:
# schema:
# ports:
map:
  - addon_config:rw
homeassistant_api: true
