name: "Adaptive Thermostat"
version: "0.0"
slug: "adaptive_thermostat"
description: "A scikit-learn based adaptive thermostat addon for Home Assistant"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
homeassistant_api: true
options:
  shadow_mode: false
  shadow_setpoint: input_number.adaptive_thermostat_setpoint
  climate_entity: climate.danfoss_icon_woonkamer
  sample_interval_seconds: 300
  partial_fit_interval_seconds: 3600
  full_retrain_time: "03:00"
  min_setpoint: 15.0
  max_setpoint: 25.0
  min_change_threshold: 0.3
  buffer_days: 30
  partial_eta0: 0.01
  partial_alpha: 0.0001
  use_unlabeled: true
  pseudo_limit: 1000
  weight_label: 1.0
  weight_pseudo: 0.25
  log_level: info
  sensors:
    temp_change: sensor.woonkamer_temperatuur_verandering
    min_temp_today: sensor.minimale_temperatuur_1d
    max_temp_today: sensor.temperatuur_1d
    min_temp_tomorrow: sensor.minimale_temperatuur_2d
    max_temp_tomorrow: sensor.temperatuur_2d
    solar_kwh_today: sensor.solcast_pv_forecast_forecast_today
    solar_kwh_tomorrow: sensor.solcast_pv_forecast_forecast_tomorrow
    solar_chance_today: sensor.zonkans_1d
    solar_chance_tomorrow: sensor.zonkans_2d
    wind_speed_today: sensor.windkracht_1d
    wind_speed_tomorrow: sensor.windkracht_2d
    wind_direction_today: sensor.windrichting_azimut_1d
    wind_direction_tomorrow: sensor.windrichting_azimut_2d
    outside_temp: sensor.temperatuur
    thermostat_demand: binary_sensor.ecodan_heatpump_ca09ec_status_in1_thermostaat
    operational_status: sensor.ecodan_heatpump_ca09ec_status_bedrijf
    prohibit_heat: switch.ecodan_heatpump_ca09ec_server_control_zone_1_prohibit_heating
schema:
  shadow_mode: "bool?"
  shadow_setpoint: "str?"
  climate_entity: "str?"
  sample_interval_seconds: "int?"
  partial_fit_interval_seconds: "int?"
  full_retrain_time: "str?"
  min_setpoint: "float?"
  max_setpoint: "float?"
  min_change_threshold: "float?"
  buffer_days: "int?"
  partial_eta0: "float?"
  partial_alpha: "float?"
  use_unlabeled: "bool?"
  pseudo_limit: "int?"
  weight_label: "float?"
  weight_pseudo: "float?"
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  sensors:
    temp_change: "str?"
    min_temp_today: "str?"
    max_temp_today: "str?"
    min_temp_tomorrow: "str?"
    max_temp_tomorrow: "str?"
    solar_kwh_today: "str?"
    solar_kwh_tomorrow: "str?"
    solar_chance_today: "str?"
    solar_chance_tomorrow: "str?"
    wind_speed_today: "str?"
    wind_speed_tomorrow: "str?"
    wind_direction_today: "str?"
    wind_direction_tomorrow: "str?"
    outside_temp: "str?"
    thermostat_demand: "str?"
    operational_status: "str?"
    prohibit_heat: "str?"
ports:
  8000/tcp: 8000
map:
  - addon_config:rw
