name: "Adaptive Thermostat"
version: "0.1"
slug: "addon-adaptive-thermostat"
description: "A scikit-learn based adaptive thermostat HA addon"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
services:
  - mqtt:need
options:
  data_path: "/config"
schema:
  data_path: str?
ports:
  5189/tcp: 5189
map:
  - addon_config:rw
homeassistant_api: true
webui: "http://[HOST]:[PORT:5189]"
