name: "Adaptive Thermostat"
version: "0.2"
slug: "adaptive_thermostat"
description: "A scikit-learn based adaptive thermostat addon for Home Assistant"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
homeassistant_api: true
options:
  shadow_setpoint: input_number.adaptive_thermostat_setpoint
  inferencer_interval_seconds: 60
  solar_interval_seconds: 15
  sample_interval_seconds: 600
  cooldown_hours: 1.0
  stability_hours: 6.0
  full_retrain_time: "03:00"
  min_setpoint: 15.0
  max_setpoint: 25.0
  min_change_threshold: 0.5
  buffer_days: 1000
  log_level: info
  sensors:
    temp_change: sensor.woonkamer_temperatuur_verandering
    min_temp_today: sensor.minimale_temperatuur_1d
    max_temp_today: sensor.temperatuur_1d
    solar_kwh_today: sensor.solcast_pv_forecast_forecast_today
    solar_chance_today: sensor.zonkans_1d
    solar_chance_tomorrow: sensor.zonkans_2d
    wind_speed_today: sensor.windkracht_1d
    wind_direction_today: sensor.windrichting_azimut_1d
    current_temp: sensor.danfoss_15_temperature
    outside_temp: sensor.temperatuur
    home_occupied: input_boolean.thuis_aanwezig
schema:
  shadow_setpoint: "str?"
  inferencer_interval_seconds: "int?"
  solar_interval_seconds: "int?"
  sample_interval_seconds: "int?"
  cooldown_hours: "float?"
  stability_hours: "float?"
  full_retrain_time: "str?"
  min_setpoint: "float?"
  max_setpoint: "float?"
  min_change_threshold: "float?"
  buffer_days: "int?"
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  sensors:
    temp_change: "str?"
    min_temp_today: "str?"
    max_temp_today: "str?"
    min_temp_tomorrow: "str?"
    max_temp_tomorrow: "str?"
    solar_kwh_today: "str?"
    solar_kwh_tomorrow: "str?"
    solar_chance_today: "str?"
    solar_chance_tomorrow: "str?"
    wind_speed_today: "str?"
    wind_speed_tomorrow: "str?"
    wind_direction_today: "str?"
    wind_direction_tomorrow: "str?"
    outside_temp: "str?"
ports:
  8000/tcp: 8000
map:
  - addon_config:rw
